body {
  background-color: rgb(252, 252, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
}

.button {
  cursor: pointer;
  height: 30px;
}

.header {
  margin-top: 0;
}
